/* ClanOT */

@font-face {
  font-family: 'ClanOT-NarrowBook';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBook'), url('assets/font/ClanOT-NarrowBook.woff') format('woff');
  }
  

  @font-face {
  font-family: 'ClanOT-NarrowThin';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowThin'), url('assets/font/ClanOT-NarrowThin.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowNews';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowNews'), url('assets/font/ClanOT-NarrowNews.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowMedium';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowMedium'), url('assets/font/ClanOT-NarrowMedium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowBold';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBold'), url('assets/font/ClanOT-NarrowBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowBlack';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBlack'), url('assets/font/ClanOT-NarrowBlack.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowUltra';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowUltra'), url('ClanOT-NarrowUltra.woff') format('woff');
  }

/*--------------------------------------------------------------
## Desktop
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Desktop
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Desktop
--------------------------------------------------------------*/


html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: auto;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: 'ClanOT-NarrowBook';
  font-weight: normal;

  overflow: auto;
  /* overflow: hidden; */

}

p {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
## Loader
--------------------------------------------------------------*/

#loader {
  display: none;
}

/* @keyframes blinker {
  50% {
    opacity: 0;
  }
} */

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

header {
  position: fixed;
  width: 90%;
  top: 0;
  padding: 0 10%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-size: 14px;
  font-weight: 400;

  padding: 1.5% 5%;

  z-index: 4000;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#button-about {
  /* width: fit-content; */
}

#button-about:hover {
  
}

#button-archive:hover {
  
}

#navigation-menu {
  display: none;
}

.menu-button {
  padding: 3px 0;
}

.menu-button:hover {
  
}

#text-about {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 25%;

  padding: 1%;
  z-index: 3000;
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  /* -webkit-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75); */

  background-color: #f4f4f4;
}

/*--------------------------------------------------------------
## Thumbnail Modal
--------------------------------------------------------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow-y: auto; /* Enable scroll if needed */
  overflow-x: hidden;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0; /* 15% from the top and centered */
  padding: 20px;
  width: 98%; /* Could be more or less, depending on screen size */
  height: 100%;
}

/* Modal Content Grid */
#thumbnailsModal .modal-content-grid {
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}

#contactModal .modal-content-grid {
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;

}

#contactModal .modal-content-grid div {
  position: absolute;
  bottom: 150px;
  right: 150px;
  text-align: left;
}

#contactModal .modal-content-grid div p {
  font-size: 12px;
  font-style: italic;
}

.thumbnail-image {
  width: 80%;
}

.thumbnail-caption {
  font-size: 10px;
}

.caption-books {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#buttonBuy {
  background-color: red;
  color: white;
  text-align: center;
  margin: 0 20px;
}

/* The Close Button */
.close {
  display: none;
  position: fixed;
  right: 10px;
  top: 35px;
  color: black;
  font-size: 35px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contact-page {
  width: 100%;
  height: 100%;
}

/*--------------------------------------------------------------
## Background
--------------------------------------------------------------*/

#section {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('assets/bastiaanwoudt_000.jpg');
  background-size: cover;
  background-position: center;
}

/* #image {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  margin: 0;

  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

/*--------------------------------------------------------------
## Entries
--------------------------------------------------------------*/

#picname {
  position: absolute;
  top: 46%;
  left: 63%;
  width: 3.5%;
  height: 5%;
  color: black;
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 1px solid black; */
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);

  z-index: 2001;
}

#picname:hover {
  text-decoration: underline;
}

#picname-info {
  display: none;
  position: absolute;
  top: 46%;
  left: 63%;
  width: 150px;
  height: auto;

  padding: 10px;

  color: black;
  background-color: white;

  font-family: 'ClanOT-NarrowMedium';
  font-weight: 600;
  font-size: 10px;
  line-height: 1rem;
  letter-spacing: 1px;

  cursor: pointer;
  margin: 0;

  /* border: 3px solid red; */
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);

  z-index: 2001;
}


#entry1 {
  position: absolute;
  top: 72%;
  left: 11%;
  width: 11%;
  height: 10%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 1px solid black; */

  z-index: 2001;
}

#entry1:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

#entry2 {
  display: none;
  position: absolute;
  top: 20%;
  left: 38%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 3px solid blue; */
  /* width: 5%;
  height: 5%; */

  z-index: 2001;
}

#entry2:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

#entry3 {
  display: none;
  position: absolute;
  top: 35%;
  right: 2%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 3px solid green; */
  /* width: 5%;
  height: 5%; */

  z-index: 2001;
}

#entry3:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

/*--------------------------------------------------------------
## Texts
--------------------------------------------------------------*/

#text-artist {
  display: none;
  position: absolute;
  width: 20%;
  top: 10%;
  left: 7%;

  padding: 1%;
  z-index: 101;
  font-family: 'ClanOT-NarrowBook';
  font-size: 10px;
  font-weight: 800;
  line-height: 1.2rem;

  color: black;
  background-color: transparent;

  /* border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75); */
}

#text1 {
  position: absolute;
  width: 20%;
  bottom: 15%;
  left: 1%;

  padding: 1%;
  z-index: 101;
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#text2 {
  position: fixed;
  width: 25%;
  top: 15%;
  left: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 15px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#video2 {
  position: absolute;
  width: 30%;
  top: 15%;
  right: 2%;
  z-index: 101;
  display: none;
  background-color: black;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

/* #gif2 {
  position: absolute;
  width: 30%;
  top: 42%;
  left: 2%;
  z-index: 101;
  display: none;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
} */

#text3 {
  position: absolute;
  width: 30%;
  top: 40%;
  right: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#img {
  position: absolute;
  width: 30%;
  top: 200px;
  right: 100px;
  z-index: 101;
  display: none;
  border: 2px solid  #00ff00;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

footer {
  position: relative;
  top: 88%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 1%;

  z-index: 100;
}

#button-caption {
  position: absolute;
  width: fit-content;
  right: 1%;
}

#button-caption:hover {
  cursor: pointer;
  text-decoration: underline;
}

#text-caption {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  /* -webkit-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75); */

  background-color: #f4f4f4;

  z-index: 2002;
}

/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Mobile
--------------------------------------------------------------*/

/* Portrait */
@media only screen 
  and (max-width: 375px) { 

    #loader {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
    
      background-color: black;
      color: white;
      text-align: center;
    
      z-index: 5000;
    }

    .loader-text {
      padding: 50% 20% 1% 20%;
    }

}

/* Landscape */
@media only screen 
  and (min-width: 376px) { 

    #loader {
      display: none;
    }

    header {
      top: %;
    }

}
