@font-face {
  font-family: 'ClanOT-NarrowBook';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBook'), url('assets/font/ClanOT-NarrowBook.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowThin';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowThin'), url('assets/font/ClanOT-NarrowThin.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowNews';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowNews'), url('assets/font/ClanOT-NarrowNews.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowMedium';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowMedium'), url('assets/font/ClanOT-NarrowMedium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowBold';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBold'), url('assets/font/ClanOT-NarrowBold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowBlack';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowBlack'), url('assets/font/ClanOT-NarrowBlack.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'ClanOT-NarrowUltra';
  font-style: normal;
  font-weight: normal;
  src: local('ClanOT-NarrowUltra'), url('ClanOT-NarrowUltra.woff') format('woff');
  }



html {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;

  font-family: 'ClanOT-NarrowBook';
  font-weight: normal;

  overflow: hidden;

}

p {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------------------
## Loader
--------------------------------------------------------------*/

#loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: black;
  color: white;
  text-align: center;

  z-index: 5000;
}

.loader-text {
  font-size: 13em;
  /* animation: blinker 1s linear infinite; */
}

/* @keyframes blinker {
  50% {
    opacity: 0;
  }
} */

/*--------------------------------------------------------------
## Blinking Spots
--------------------------------------------------------------*/

.blink-container {
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;

  z-index: 2000;
}

#blink1 {
  top: 60%;    /*change this*/
  left: 45%;  /*change this*/
}

#blink2 {
  top: 25%;    /*change this*/
  left: 49%;  /*change this*/
}

#blink3 {
  top: 60%;
  left: 30%;
}

/* .blink-dot {
  border-radius: 50%;
  background-color: #f4f4f4;
  width: 10px;
  height: 10px;
} */

.blink-pulse {
  background-color: #f4f4f4;
  opacity: 0.75;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: absolute;
  transform: scale(1);
  animation: blink-pulse-anim 2s infinite;
  /* -webkit-animation-name: blink-pulse-anim;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in-out; */
  -webkit-animation-iteration-count: 5;
}

@keyframes blink-pulse-anim {
  0% { opacity: 0.75; transform: scale(1)}
  /* 30% { opacity: 0; transform: scale(4)} */
  100% { opacity: 0; transform: scale(4)}
}

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

header {
  position: relative;
  top: 0;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  font-size: 14px;
  font-weight: 400;

  padding: 1%;

  z-index: 100;
}

#button-about {
  width: fit-content;
}

#button-about:hover {
  cursor: pointer;
  text-decoration: underline;
}

#button-archive:hover {
  cursor: pointer;
  text-decoration: underline;
}

#navigation-menu {
  display: none;
}

.menu-button {
  padding: 3px 0;
}

.menu-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

#text-about {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 25%;

  padding: 1%;
  z-index: 3000;
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

/*--------------------------------------------------------------
## Background
--------------------------------------------------------------*/

#section {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  background-image: url('assets/varusa-hat.jpg');
  background-size: cover;
  background-position: center;
}

/* #image {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  margin: 0;

  ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */

/*--------------------------------------------------------------
## Entries
--------------------------------------------------------------*/

#picname {
  position: absolute;
  top: 46%;
  left: 63%;
  width: 3.5%;
  height: 5%;
  color: black;
  background-color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 1px solid black; */
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);

  z-index: 2001;
}

#picname:hover {
  text-decoration: underline;
}

#picname-info {
  display: none;
  position: absolute;
  top: 46%;
  left: 63%;
  width: 150px;
  height: auto;

  padding: 10px;

  color: black;
  background-color: white;

  font-family: 'ClanOT-NarrowMedium';
  font-weight: 600;
  font-size: 10px;
  line-height: 1rem;
  letter-spacing: 1px;

  cursor: pointer;
  margin: 0;

  /* border: 3px solid red; */
  -webkit-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.75);

  z-index: 2001;
}


#entry1 {
  position: absolute;
  top: 72%;
  left: 11%;
  width: 11%;
  height: 10%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 1px solid black; */

  z-index: 2001;
}

#entry1:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

#entry2 {
  position: absolute;
  top: 20%;
  left: 38%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 3px solid blue; */
  /* width: 5%;
  height: 5%; */

  z-index: 2001;
}

#entry2:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

#entry3 {
  display: none;
  position: absolute;
  top: 35%;
  right: 2%;
  color: black;
  font-weight: 400;
  font-size: 30px;
  cursor: pointer;
  margin: 0;
  padding: 0;

  /* border: 3px solid green; */
  /* width: 5%;
  height: 5%; */

  z-index: 2001;
}

#entry3:hover {
  cursor: pointer;
  /* cursor: zoom-in; */
}

/*--------------------------------------------------------------
## Texts
--------------------------------------------------------------*/

#text-artist {
  display: none;
  position: absolute;
  width: 20%;
  top: 10%;
  left: 7%;

  padding: 1%;
  z-index: 101;
  font-family: 'ClanOT-NarrowBook';
  font-size: 10px;
  font-weight: 800;
  line-height: 1.2rem;

  color: black;
  background-color: transparent;

  /* border: 1px solid black;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75); */
}

#text1 {
  position: absolute;
  width: 20%;
  bottom: 15%;
  left: 1%;

  padding: 1%;
  z-index: 101;
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#text2 {
  position: fixed;
  width: 25%;
  top: 15%;
  left: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 15px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#video2 {
  position: absolute;
  width: 30%;
  top: 15%;
  right: 2%;
  z-index: 101;
  display: none;
  background-color: black;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

/* #gif2 {
  position: absolute;
  width: 30%;
  top: 42%;
  left: 2%;
  z-index: 101;
  display: none;
  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
} */

#text3 {
  position: absolute;
  width: 30%;
  top: 40%;
  right: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 16px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);

  background-color: #f4f4f4;
}

#img {
  position: absolute;
  width: 30%;
  top: 200px;
  right: 100px;
  z-index: 101;
  display: none;
  border: 2px solid  #00ff00;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

footer {
  position: relative;
  top: 88%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;

  padding: 1%;

  z-index: 100;
}

#button-caption {
  position: absolute;
  width: fit-content;
  right: 1%;
}

#button-caption:hover {
  cursor: pointer;
  text-decoration: underline;
}

#text-caption {
  position: absolute;
  width: 50%;
  left: 25%;
  bottom: 2%;

  padding: 1%;
  z-index: 101;
  font-size: 20px;
  font-weight: 400;
  color: black;
  display: none;

  border: 2px solid black;
  -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
  /* -webkit-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 700px 600px rgba(0,0,0,0.75); */

  background-color: #f4f4f4;

  z-index: 2002;
}
